<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div id="#something"></div>

		<script id="catelogueTemplate" type="text/template">
		    <div>
			    <h3>
			    	<a href="#showcategories/<%= mod_id %>"><%= model_no %></a>
			    </h3>
		    </div>
		</script>

		<script id="categoryTemplate" type="text/template">
		    <div>
		    	<a href="#showproducts/<%= cat_id %>"><%= cat_name %></a>
		    </div>
		</script>

		<script id="productTemplate" type="text/template">
		    <div><%= prod_name %></div>
		    <div><%= amount %></div>
		    <input type="checkbox" name="prod_<%= prod_id %>" value="<%= amount %>" class="toggle" />
		    <div><%= wheel %></div>
		</script>

		<script id="viewcartTemplate" type="text/template">
			<div><%= prod_name %></div>
		    <div><%= amount %></div>
		    <div><%= wheel %></div>
		</script>

		<script data-main="scripts/main.js" src="scripts/vendor/requirejs/require.js"></script>
	<body>
</html>